<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Yet another TODO</title>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="css/libs/bootstrap.min.css">
    <!-- Main CSS-->
    <link rel="stylesheet" href="css/main.css">
    <!-- jQuery -->
    <script src="js/libs/jquery-2.1.4.min.js"></script>
    <!-- Bootstrap Js -->
    <script src="js/libs/bootstrap.min.js"></script>
    <!-- Bootstrap Datepicker -->
    <link rel="stylesheet" href="css/libs/bootstrap-datepicker.min.css">
    <script src="js/libs/bootstrap-datepicker.min.js"></script>
    <!-- AngularJs -->
    <script src="js/libs/angular.min.js"></script>
    <script src="js/libs/angular-route.min.js"></script>
    <!-- Main Js -->
    <script src="js/main.js"></script>
    <!-- Firebase -->
    <script src="js/libs/firebase.min.js"></script>
    <!-- App -->
    <script src="js/app.js"></script>
</head>

<body ng-app="yat">
    <div class="page__wrapper">
        <div class="container">
            <div class="row" ng-controller="MainController as main">
                <div class="col-md-12">
                    <todosList></todosList>
                    <div class="button__wrapper">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" ng-click="main.openCreateTodoForm()">
                            Add new Todo
                        </button>
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" ng-click="main.clearCompleted()">
                            Clear completed
                        </button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="createTodoForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <createtodoform></createtodoform>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="updateTodoForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <updatetodoform></updatetodoform>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
