<div class="modal fade" id="addTodoForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form ng-submit="addTodoForm.$valid && main.addTodo(main.todo)" name="addTodoForm" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"> Add new Todo</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label> Name</label>
                        <input type="text" class="form-control" ng-model="main.todo.name" placeholder="Name" required>
                        <label>Description</label>
                        <textarea class="form-control" ng-model="main.todo.description" placeholder="Description" required></textarea>
                        <label> Date</label>
                        <input type="text" class="form-control" ng-model="main.todo.date" placeholder="Date" id="datepicker" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
