<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Yet another TODO</title>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="css/libs/bootstrap.min.css">
    <!-- Main CSS-->
    <link rel="stylesheet" href="css/main.css">
    <!-- jQuery -->
    <script src="js/libs/jquery-2.1.4.min.js"></script>
    <!-- Bootstrap Datepicker -->
    <link rel="stylesheet" href="css/libs/bootstrap-datepicker.min.css">
    <script src="js/libs/bootstrap-datepicker.min.js"></script>
    <!-- AngularJs -->
    <script src="js/libs/angular.min.js"></script>
    <!-- Main Js -->
    <script src="js/main.js"></script>
    <!-- App -->
    <script src="js/app.js"></script>
</head>

<body ng-app="yat">
    <div class="container">
        <div class="row" ng-controller="MainController as main">
            <div class="col-md-8">
                <todosList></todosList>
                <form ng-submit="addTodoForm.$valid && main.addTodo(main.todo)" name="addTodoForm" novalidate>
                    <div class="form-group">
                        <label> Name</label>
                        <input type="text" class="form-control" ng-model="main.todo.name" placeholder="Name" required>
                        <label>Description</label>
                        <textarea class="form-control" ng-model="main.todo.description" placeholder="Description" required></textarea>
                        <label> Date</label>
                        <input type="text" class="form-control" ng-model="main.todo.date" placeholder="Date" id="datepicker" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-md-4"><pre>{{main.todoList}}</pre></div>
        </div>
    </div>
</body>

</html>
