<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Yet another TODO</title>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="css/libs/bootstrap.min.css">
    <!-- Main CSS-->
    <link rel="stylesheet" href="css/main.css">
    <!-- jQuery -->
    <script src="js/libs/jquery-2.1.4.min.js"></script>
    <!-- Bootstrap Js -->
    <script src="js/libs/bootstrap.min.js"></script>
    <!-- Bootstrap Datepicker -->
    <link rel="stylesheet" href="css/libs/bootstrap-datepicker.min.css">
    <script src="js/libs/bootstrap-datepicker.min.js"></script>
    <!-- AngularJs -->
    <script src="js/libs/angular.min.js"></script>
    <!-- Main Js -->
    <script src="js/main.js"></script>
    <!-- App -->
    <script src="js/app.js"></script>
</head>

<body ng-app="yat">
    <div class="page__wrapper">
        <div class="container">
            <div class="row" ng-controller="MainController as main">
                <div class="col-md-8">
                    <todosList></todosList>
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="main.order('name')">
                        <span>Sort by Name</span>
                        <span class="glyphicon glyphicon-sort-by-alphabet" ng-class="main.isSortBy('name') ? 'glyphicon-sort-by-alphabet': 'glyphicon-sort-by-alphabet-alt'" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="main.order('date')">
                        <span>Sort by Date</span>
                        <span class="glyphicon glyphicon-sort-by-order" ng-class="main.isSortBy('date') ? 'glyphicon-sort-by-order' : 'glyphicon-sort-by-order-alt'" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="main.order('completed')">
                        <span>Sort by Status</span>
                        <span class="glyphicon glyphicon-sort-by-attributes" ng-class="main.isSortBy('completed') ? 'glyphicon-sort-by-attributes': 'glyphicon-sort-by-attributes-alt'" aria-hidden="true"></span>
                    </button>
                    <div class="button__wrapper">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createTodoForm">
                            Add new Todo
                        </button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="createTodoForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <createtodoform></createtodoform>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="updateTodoForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <updatetodoform></updatetodoform>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"><pre>{{main.todoList}}</pre></div>
            </div>
        </div>
    </div>
</body>

</html>
